.mobile-menu
    height: 100svh
    width: 100vw
    position: absolute
    inset: 0
    z-index: 101
    background: white
    display: flex
    flex-direction: column
    transform: translateX(-100%)
    transition: transform 0.5s
    text-transform: uppercase
    &.open
        transform: translateX(0%)
    li
        cursor: pointer

    .search-bar
        border-bottom: 1px solid black
        opacity: 0.9
        position: absolute
        bottom: 0
        right: 0
        left: 0
        background: #FFF

.menu-sub-category__container
    position: relative
    overflow-y: hidden
.menu-top-section
    display: flex
    justify-content: space-between
    align-items: center
    padding-inline: 12px
    padding-top: 8px
    img
        width: 13px
        height: 13px
    .menu-shopping-cart
        font-size: 11px

.menu-category-list__container
    border-bottom: 1px solid black

.menu-category-list
    display: flex
    padding-inline: 14px
    gap: 20px
    overflow-x: auto
    margin-top: 24px
    li
        padding-block: 34px
.menu-container
    padding-right: 20px
    padding-left: 36px

.menu-sub-category-list
    padding-top: 32px
    padding-bottom: 110px
    overflow-y: auto
    flex-grow: 1
    height: 100%
    li
        margin-block: 8px
        padding-block: 4px
        font-size: 14px
        cursor: pointer
        &:last-of-type
            margin-bottom: 32px
.menu-external-links
    display: flex
    justify-content: flex-end
    gap: 20px
    padding: 10px
    padding-block: 24px
    a
        font-size: 10px

.menu-extra-category-list
    display: flex
    gap: 8px
    flex-wrap: wrap
    > *
        padding: 6px
        border: 1px solid black
