header
    display: flex
    justify-content: space-between
    gap: 12px
    padding: 12px 16px
    padding-bottom: 0px
    position: absolute
    top: 0
    left: 0
    right: 0
    z-index: 100
    text-transform: uppercase

    .search-bar
        padding: unset
        display: none
        input
            background: white
            padding-right: 24px
            padding-block: 14px

@media (min-width: 768px)
    header
        .search-bar
            display: block

@media (min-width: 768px)
    header
        padding: 20px 16px
.hamburger-button,.xmark-button
    background: transparent
    border-style: none
    cursor: pointer

    img
        height: 20px
        width: 20px

.shopping-bag__text,
.login__text,
.help__text
    font-size: 11px
    white-space: nowrap

.nav--right__list
    display: flex
    gap: 24px

.login__text,
.help__text
    display: none

@media (min-width: 768px)
    .login__text,
    .help__text
        display: block
        text-align: right
        margin-bottom: 16px

.nav--left
    display: flex
    align-items: flex-start
    gap: 12px
    width: 100%

@media (min-width: 768px)
    .nav--left
        gap: 80px

.logo-container
    display: flex
    flex-grow: 1
    align-items: center
    height: 100%
    max-height: 150px
    position: relative
    padding-left: 36px

    img
        height: 100%
        max-height: 150px
        max-width: 150px
        flex-grow: 1
